*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffc3d6;
    font-family: "Finger Paint", sans-serif;
    text-decoration: none;
}
a{
    text-decoration: none;
}
button{
    border: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.logo{
    height: 20px;
}
.telegram{
    width: 42px;
    padding-top: 8px;
    padding-right: 5px;
}

.twitter{
    width: 50px;
}
.roadmap{
    width: 40px;
}
.socials{
    margin: 0 10px;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-img img{
    width: 730px;
}
.btn-1{
    transition: all 0.3s ease 0s;
}
.btn-2{
    transition: all 0.3s ease 0s;
}
.btn-1:hover{
    transform: rotate(8deg);
}
.btn-2:hover{
    transform: rotate(8deg);
}
.ca{
    padding-top: 10px;
}
.meme-temp{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    position: relative;
}
.meme-temp img{
    width: 65vw;
}
.box1{
    z-index: 1;
    position: absolute;
    top: 41%;
    left: 4%;
    width: 80%;
    border: none;
    font-size: 2vw;
    height: 15%;
}
.mem-txt-box{
    width: 60vw;
}
.box1:focus{
    outline: none;
}
.box1::placeholder{
    color: rgb(73, 73, 73);
}
.memetext{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position:  relative;
}
.box2{
    position: absolute;
    top: 27%;
    left: 5%;
    font-size: 2vw;
    height: 50%;
    border: none;
    width: 90%;
}
.box2:focus{
    outline: none;
}
.save-meme{
    margin-top: 20px;
}
.save-meme-img{
    transition: all 0.3s ease 0s;
}
.save-meme-img:hover{
    transform: rotate(8deg);
    cursor: pointer;
}
.br-1{
    margin-top: 75px;   
    margin-bottom: 60px;
    justify-self: center;
}
.how-to-buy{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bimgg{
    width: 20vw;
    margin-top: 30px;
}
.bpics{
    display: flex;
}
.bimg2{
    width: 25vw;
    margin-top: 0;
}
.steps-img{
    width: 90vw;
}
.steps{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buy-text{
    font-size: 2.3vw;
    font-weight: 600;
    margin: 2vw 14vw;
    text-align: center;
}
.game{
    display: flex;
    flex-direction: column;
}
.game-gen-img{
    align-self: center;
    width: 30vw; 
}
.gt1{
    font-size: 5.3vw;
    align-self: center;
}
.gt2{
    align-self: center;
    font-size: 1.5vw;
}
.launch{
    align-self: center;
    margin-top: 20px;
}
.launch-btn{
    transition: all 0.3s ease 0s;
    width: 20vw;
}
.launch-btn:hover{
    transform: rotate(6deg);
}
.slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slogan-img{
    width: 50vw;
}
.roadmapsec{
    display: flex;
    flex-direction: column;
}
.roadmap-img{
    width: 50vw;
    align-self: center;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-img{
    width: 60vw;
}
.foot-icon{
    display: flex;
    justify-content: center;
    margin: 100px 0 40px 0;
}
.foot-img{
    width: 10vw;
}
.desclimer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color:#787c8a;
}
.desclimer-text1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.3vw;
    margin-bottom: 17px;
}

.desclimer-text2{
    font-family: Arial, Helvetica, sans-serif;
}
.desclimer-text3{
    font-family: Arial, Helvetica, sans-serif;
}
.desclimer-text4{
    font-family: Arial, Helvetica, sans-serif;
}
.dt{
    font-size: 1vw;
}
.designer{
    text-decoration: none;
    margin-top: 20px;
}
.designer:focus{
    outline: none;
}
.designert{
    text-decoration: none;
    color: black;
    font-size: 2vw;
}
.designert:focus{
    outline: none;
}